


.fa:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {

    transform: rotateZ(5deg);
  }
  20%, 80% {

    transform: rotateZ(-5deg);
  }
  30%, 50%, 70% {

    transform: rotateZ(10deg);
  }
  40%, 60% {

    transform: rotateZ(-10deg);
  }
}

h1{
  font-family: Lobster;
}
/*@media only screen and (min-width: 600px){
.f1{
  float: left;
  margin-left: 10%;
}
.f2{
  float: right;
  margin-right: 10%;
}*/
.f1{

  margin-right: 15%;
}
.f2{

  margin-left: 15%;
}
.accordion{
text-align: center;

}
