.fa{
  margin-left: 51px;
}


.fa:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-.9px, 0, -.50px);
  }
  20%, 80% {
    transform: translate3d(.9px, 0, .50px);
  }
  30%, 50%, 70% {
    transform: translate3d(-.9px,0, -.50px);
  }
  40%, 60% {
    transform: translate3d(.9px, 0, .50px);
  }
}
